/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.3.2 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: rgba(255, 255, 255, 1)
    }

    .featherlight:last-of-type {
        background: rgba(255, 255, 255, 1)
    }

    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: top;
        margin-right: -.25em
    }

    .featherlight .featherlight-content {
        position: relative;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        overflow: auto;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;
        min-width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        background: rgba(255, 255, 255, 1);
        cursor: auto;
        white-space: normal
    }

    .featherlight .featherlight-inner {
        display: block
    }

    .featherlight .featherlight-close-icon {
        position: relative;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 30px;
        width: 30px;
		margin: 0 auto;
        cursor: pointer;
        text-align: center;
        font: Arial, sans-serif;
        background: none;
        color: #222;
    }

    .featherlight .featherlight-image {
        width: 100%
    }

    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0
    }

    .featherlight iframe {
        border: 0
    }
}

@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent
    }
}
@media screen and (max-width: 740px), screen and (max-device-width: 740px) {
    .featherlight .featherlight-content {
        margin-left: 0px;
        margin-right: 0px;
        max-height: 100%;
        padding: 0px 0px 0;
        border-bottom: 10px solid transparent
    }
}